.app {
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.section {
  margin: 3rem 0 0 0;
}

.link {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.active {
  color: #a31d1d;
}
